---
import Projects from "../components/Projects.astro";
import Navbar from "../components/Navbar.astro";
import Buttons from "../components/Buttons.astro";

type AgeResponse = {
  age: number;
  nextBirthday: string;
};

const ageResponse = await fetch("https://age.astrid.sh/11/19/03").then(
  async (response) => {
    return (await response.json()) as AgeResponse;
  }
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>astrid &lt;3</title>
  </head>
  <body class="h-min-screen bg-neutral-900 font-mono">
    <Navbar />

    <div class="flex items-center justify-center mt-[10rem]">
      <div class="text-center text-white">
        <h1 class="text-4xl font-bold mb-4">hii! o/</h1>
        <p class="text-xl overflow-hidden">
          astrid | she/her | {ageResponse.age}
        </p>
        <div class="text-center text-white text-xs">
          <a href="/about"> (want to know more?)</a>
        </div>
        <br />
        <br />
        <p class="text-lg overflow-hidden">🤍</p>
        <section
          class="grid grid-cols-1 gap-4 auto-cols-max sm:grid-cols-2 sm:gap-3 mt-4 sm:justify-items-center"
        >
          <Projects />
        </section>

        <section>
          <!-- <h3 class="text-2xl mt-[4rem]">besties:</h3> -->
          <div class="flex justify-center items-center mt-[4rem]">
            <p style="image-rendering: pixelated">
              <Buttons />
            </p>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
