---
const buttons: {
  imageURL: string;
  siteURL: string;
}[] = [
  {
    imageURL: "/buttons/azzy.png",
    siteURL: "https://astrid.sh/",
  },
  {
    imageURL: "https://kibty.town/files/img/buttons/kibty.town-badge.gif",
    siteURL: "https://kibty.town/",
  },
  {
    imageURL: "https://jamie.rs/images/jamie.rs-badge.png",
    siteURL: "https://jamie.rs/",
  },
  {
    imageURL: "https://aroze.me/images/88x31/aroze.png",
    siteURL: "https://aroze.me/",
  },
];
---

<>
  {
    buttons.map((link) => {
      return (
        <a class="inline-flex ml-2 mr-2" href={link.siteURL}>
          <img src={link.imageURL} alt={link.siteURL} />
        </a>
      );
    })
  }
</>
