---
const links: {
    name: string;
    url: string;
}[] = [
    {
        name: "Twitter",
        url: "https://twitter.com/maybeastrid"
    },
    {
        name: "GitHub",
        url: "/github"
    },
    {
        name: "CV",
        url: "/cv"
    }
]
---

{
    links.map((link) => {
      return (
        <a
          href={link.url}
          class="text-pink-200 mr-4 tracking-[4px] hover:tracking-[8px] transition-all duration-200"
        >
          [{link.name.toLowerCase()}]
        </a>
      );
    })
  }
  